/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2015, 7:46:11 PM
    Author     : chuyuwang
*/
#bg1
{
  border-style: solid;
  border-color: buttonface;
  border-width: 2px;
  height: 250px;
  width: 400px;
  float: left;
  margin-left: 150px;
  margin-top: 150px;
  border-radius: 20px;
  background-color: lightblue;
  filter:alpha(opacity=30);
  opacity:0.3;
}
#facebook
{
    height: 250px;
    width: 400px;
    margin-left: 150px;
    margin-top: 150px;
    border-radius: 20px;
    position: absolute;
    overflow:hidden;
}
input[type=text]
{
    width: 250px;
    height: 25px;
}
#facebook img
{
    width: 50px;
    height: 50px;
}

#bg2
{
  border-style: solid;
  border-color: buttonface;
  border-width: 2px;
  height: 250px;
  width: 400px;
  float: right;
  margin-right:150px;
  margin-top: 150px;
  border-radius: 20px;
  background-color: lightblue;
  filter:alpha(opacity=30);
  opacity:0.3;
}
#google
{
    height:250px;
    width: 400px;
    margin-left:650px;
    margin-top: 150px;
    border-radius: 20px;
    position: absolute;
    overflow:hidden;
}
#google img
{
    width: 50px;
    height: 50px;
}
